.app {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 600px;
  margin-top: 50px;
}

@media (max-width: 600px) {
  .container {
    margin-top: 20px;
  }

  .app {
    padding: 10px;
  }
}
